<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <!--<welcome-file-list>-->
        <!--<welcome-file>index.html</welcome-file>-->
  <!--</welcome-file-list>-->

  <servlet>
    <servlet-name>GetOutlineServlet</servlet-name>
    <servlet-class>databox.servlet.GetOutlineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllValueServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetAllValueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAverageServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetAverageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetConditionCountServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetConditionCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetFilterDataServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetFilterDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDistinctValueServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetDistinctValueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectionsServlet</servlet-name>
    <servlet-class>databox.sample.servlet.ProjectionsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMaxServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetMaxServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMinServlet</servlet-name>
    <servlet-class>databox.sample.servlet.GetMinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOutlineServlet</servlet-name>
    <url-pattern>/GetOutlineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/GetDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllValueServlet</servlet-name>
    <url-pattern>/GetAllValueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAverageServlet</servlet-name>
    <url-pattern>/GetAverageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetConditionCountServlet</servlet-name>
    <url-pattern>/GetConditionCountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetFilterDataServlet</servlet-name>
    <url-pattern>/GetFilterDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDistinctValueServlet</servlet-name>
    <url-pattern>/GetDistinctValueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectionsServlet</servlet-name>
    <url-pattern>/ProjectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMaxServlet</servlet-name>
    <url-pattern>/GetMaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMinServlet</servlet-name>
    <url-pattern>/GetMinServlet</url-pattern>
  </servlet-mapping>
</web-app>